body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: block;
   padding: 1rem;
   margin: 0.2rem;
   background-color: #050505;
   /* border: 2px solid red; */
 }
 
 .logo img {
   /* border: 2px solid white; */
   height: 4rem;
   width: 4rem;
   margin-left: 40px;
 }
 

/* Loading img */
.Loading_img {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}


